body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.chat-container {
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #0dc3ff;
    color: white;
    padding: 10px;
    text-align: center;
}

.chat-box {
    display: flex;
    /* width: 400px; */
    height: 500px;
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    align-content: center;
    justify-items: end;
    flex-direction: column;
}

.message {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 4px;
    display: inline-block;
}

.user-message {
    background-color: #e0e0e0;
    align-self:flex-end;
}

.bot-message {
    background-color: #0dc3ff;
    color: white;
    align-self: flex-start;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ddd;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 0;
    outline: none;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #0dc3ff;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
}

.chat-input button:hover {
    background-color: #4CAF50;
}
